<main>
    <h1>Damir</h1>
    <h2>I'm junior Python developer</h2>
    <h2>Welcome to <br /><span>my portfolio</span></h2>
    <hr>
    <p>
        I’m passionate about learning new technology and I would like to be
        senior Python developer
        
    <section>
        <h2>skills</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Python</li>
        </ul>
    </section>

    <section>
        <h2>About</h2>
        <p>I am a novice programmer, but in the past about a year ago an electrical engineer. In the future, I want to be realized as a Senior Software Engineer</p>
    </section>
    <footer>
        <p class="copyright">Damir Karbozov</p>
      </footer>
</main>